.content{
    max-width: 550px;
    margin: auto;
    background-color: white;
    padding: 3% 10%;
    text-align: center;
}

button{
    background-color:green;
    color: white;
}
button:hover{
    color: white;
}